@font-face {
  font-family: 'Iosevka Julsh';
  src: url('./iosevka-julsh-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka Julsh';
  src: url('./iosevka-julsh-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka Julsh';
  src: url('./iosevka-julsh-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka Julsh';
  src: url('./iosevka-julsh-bolditalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

:root {
  --pink: hsl(0, 82%, 85%);
  --yellow: hsl(37, 80%, 75%);
  --orange: hsl(26, 80%, 71%);
  --blue: hsl(209, 36%, 70%);
  --lightBlue: hsl(179, 40%, 70%);
  --translucentLightBlue: hsla(179, 40%, 70%, 0.6);
  --green: hsl(152, 25%, 53%);
  --translucentGreen: hsla(153, 36%, 59%, 0.6);

  --gblue: hsl(216, 64%, 68%);
  --gred: hsl(5, 63%, 70%);
  --gyellow: hsl(45, 77%, 64%);
  --ggreen: hsl(138, 60%, 60%);

  --responsive-padding: 2.3rem;

  background: hsl(217, 36%, 10%);
  color: var(--green);
  font-family: Iosevka Julsh, monospace;
  font-size: 26px;
  word-spacing: -0.2ch;
  line-height: 1.4;
}

body,
html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#content-wrapper {
  padding: var(--responsive-padding);
  max-width: 30em;
}

h1 {
  font-size: 2em;
  margin: 0.2em 0 0.67em 0;
}

h1,
h1 a {
  color: var(--pink);
}

h2 {
  margin: 1.75em 0 0.75em 0;
}

h2,
h2 a {
  color: var(--yellow);
}

h3 {
  font-size: 1rem;
  margin: 2.5em 0 1em 0;
}

h3,
h3 a {
  color: var(--orange);
}

h4,
h4 a {
  font-size: 1rem;
  color: var(--blue);
}

h1,
h2,
h3 {
  word-spacing: -0.25ch;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h2 + h3 {
  margin-top: 0;
}

a {
  text-decoration: underline;
  color: var(--green);
}

a:hover,
a:active {
  text-shadow: 0 0 7px var(--green);
}

i,
em {
  color: var(--lightBlue);
  font-style: normal;
}

b,
strong {
  color: var(--blue);
  font-weight: normal;
}

strong em,
em strong,
b i,
i b {
  color: var(--orange);
}

#content-wrapper.page-index > picture {
  display: block;
  position: relative;
  margin: 0 0 1.25rem 0;
  max-width: 400px;
}

/* The width and padding value correspond to creating a 4/5 aspect ratio */
#content-wrapper.page-index > picture > .image-placeholder {
  width: 100%;
  padding-bottom: 125%;
  background-position: center;
  background-size: cover;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 522'%3E%3Cpath fill='%239e9596' d='M0 0h399v522H0z'/%3E%3Cg transform='translate(1 1) scale(2.03906)' fill-opacity='.5'%3E%3Cellipse rx='1' ry='1' transform='matrix(113.11728 -33.9176 17.80762 59.38948 106 230.7)'/%3E%3Cellipse fill='white' rx='1' ry='1' transform='matrix(-15.76174 74.15317 -189.61395 -40.30369 132.3 61.6)'/%3E%3Cellipse fill='%23915f4b' cx='85' cy='108' rx='60' ry='60'/%3E%3Cellipse fill='%23fffffb' rx='1' ry='1' transform='matrix(-30.28064 18.74364 -14.73765 -23.80891 17.5 185.7)'/%3E%3Cellipse fill='white' cx='172' cy='58' rx='40' ry='106'/%3E%3Cpath fill='%23000527' d='M211 252l-84-124-74 143z'/%3E%3Cellipse fill='white' cx='110' cy='20' rx='61' ry='32'/%3E%3Cellipse fill='%23ffecd8' rx='1' ry='1' transform='matrix(19.67525 -9.0346 12.77268 27.8159 96.6 132.9)'/%3E%3Cpath fill='%23210000' d='M62.5 118.8L-16 101l58 31 52.6 52.7z'/%3E%3Cpath fill='%23090000' d='M124 70h11v103h-11z'/%3E%3Cellipse rx='1' ry='1' transform='matrix(-3.01297 -6.28856 22.00625 -10.54363 94.8 63.5)'/%3E%3Cellipse fill='%23ffe2da' cx='12' cy='36' rx='69' ry='70'/%3E%3Cpath fill='%23b04b48' d='M30 16h23v82H30z'/%3E%3Cpath fill='%23090100' d='M24.2 196.1L14 200.6l-14.4 60 16.7 9z'/%3E%3Cellipse fill='white' cx='5' cy='127' rx='25' ry='9'/%3E%3Cellipse fill='%237386b5' rx='1' ry='1' transform='matrix(6.59476 28.79423 -11.88278 2.72152 75.2 198.6)'/%3E%3Cpath fill='%23ffeadc' d='M74.6 142.5L60.9 95.3l61 41.1 10-35z'/%3E%3Cellipse fill='%23fff3de' rx='1' ry='1' transform='rotate(-94.5 87.4 -4) scale(12.33344 18.83749)'/%3E%3Cpath fill='%2300031a' d='M170 176h26v80h-26z'/%3E%3Cpath fill='%23000006' d='M64.3 101.6l-5.8-3.9 25.2-37.3 5.8 3.9z'/%3E%3Cpath fill='%23342215' d='M115.4 74l19.8 38.6-6.5-53.2-45.1-12z'/%3E%3Cpath fill='%23f4f1e8' d='M39 220l19-69-59 19z'/%3E%3Cpath fill='%233a250f' d='M54 173.4l34-.4-3.5-20.6-14.8-11.5z'/%3E%3Cellipse fill='%23fdf8e9' cx='56' cy='98' rx='3' ry='85'/%3E%3Cellipse fill='%23000013' rx='1' ry='1' transform='rotate(-171.2 30.4 113.7) scale(4.92934 51.66258)'/%3E%3Cellipse fill='white' rx='1' ry='1' transform='matrix(117.02432 58.5019 -11.30012 22.60421 127.1 32.5)'/%3E%3Cpath fill='%2322000b' d='M14.2 121.4l58 5.7-69.1-24-19.1 5.5z'/%3E%3Cpath fill='white' d='M210.5 187.7L193 160l-21.2 1.3 39.3 26z'/%3E%3Cellipse fill='%23fffffd' cx='10' cy='11' rx='20' ry='94'/%3E%3Cpath fill='%23ffece7' d='M36 46h11v67H36z'/%3E%3Cpath fill='%235f443c' d='M122.6 108.3l-5.8-21L78.6 111l-.3-22.5z'/%3E%3Cpath fill='%23fffffb' d='M52 0h144v51H52z'/%3E%3Cellipse fill='%236a1111' rx='1' ry='1' transform='matrix(-2.35784 .01459 -.40071 -64.76907 33.5 98)'/%3E%3Cpath fill='%23edd9cf' d='M155 158l-17-61-5 51z'/%3E%3Cpath fill='%23983129' d='M48.2 66.6l8-6.4-25.9-3.3 1.9 12z'/%3E%3Cpath fill='%230f0b1b' d='M77 193l58-55-34 68z'/%3E%3Cpath fill='%234f6789' d='M112.4 209.8l-.7 61.2H-16l112-23z'/%3E%3Cpath fill='%23929fc3' d='M22.5 219.2l6.9-2.5 8.1 22.6 9.6-58z'/%3E%3Cellipse fill='%23071321' rx='1' ry='1' transform='matrix(63.56555 21.03626 -4.65222 14.05768 13 247.6)'/%3E%3Cpath fill='%23708cc2' d='M59.6 255.5l-5-27.4 4.7-20.6 10.5-34z'/%3E%3Cellipse fill='%23587392' rx='1' ry='1' transform='matrix(14.29689 -34.98742 3.73224 1.5251 131 235.2)'/%3E%3Cpath fill='%23d8a390' d='M88.6 146.7L70.5 93.9l49.2 58-31.3 27.6z'/%3E%3Cpath fill='%2358718f' d='M150.5 260.5l21-42.5 2.2-9.2-13-.3z'/%3E%3Cellipse fill='white' cx='42' cy='29' rx='7' ry='7'/%3E%3Cpath fill='%23986054' d='M64 104l-12 56-33-3z'/%3E%3Cpath fill='%23b71b1d' d='M34.8 96.4l-.6-10 17-.8.6 10z'/%3E%3Cellipse fill='%2365111b' cx='50' cy='101' rx='2' ry='57'/%3E%3Cpath fill='%2334271e' d='M13 199h9v47h-9z'/%3E%3Cpath fill='%231f1b2d' d='M142.1 156.7l28.7 8.4 40.2 70.4-109.7-69.9z'/%3E%3Cellipse fill='%23fff6ee' cx='157' cy='60' rx='26' ry='49'/%3E%3Cpath fill='%23fdfcf5' d='M54 80l-2-96 53 42z'/%3E%3Cpath fill='%23ffdecf' d='M120 89l-55 1 45-21z'/%3E%3Cellipse fill='%2300082d' cx='67' cy='252' rx='4' ry='54'/%3E%3Cpath fill='%23fffffe' d='M-3.2 176.8l73.6.7L45 165.3l-61-.5z'/%3E%3Cpath fill='%23fce1d3' d='M65 106h62v15H65z'/%3E%3Cpath fill='%23a11d25' d='M50.3 12.9l1.6 3.6-20.2 8.6-1.6-3.6z'/%3E%3Cpath fill='%23334359' d='M31 227l5 27-52-44z'/%3E%3Cpath fill='%232f2013' d='M115.7 147.5l12.7-26.7 18 57.5-28.5-11.8z'/%3E%3Cellipse fill='%23000009' rx='1' ry='1' transform='matrix(-10.94786 32.15913 -7.15102 -2.4344 143 241.2)'/%3E%3Cellipse fill='%23fdfaf3' cx='10' cy='128' rx='20' ry='9'/%3E%3Cpath fill='%23acafb8' d='M2 178h79v6H2z'/%3E%3Cpath fill='%23fff4ee' d='M61 112.3l7-4 25 43.4-7 4z'/%3E%3Cpath fill='%23fff3ec' d='M8.8 103.5l-18.2-4.2 35.9-70 4.4 81.9z'/%3E%3Cpath fill='%23362c25' d='M86 156l-29-45 9 37z'/%3E%3Cpath fill='%234e3b34' d='M112.4 96.5l3 11L87 96l40.8-4z'/%3E%3Cpath fill='%23f4ecdb' d='M23 192l4 25 36-65z'/%3E%3Cellipse fill='%23b65b59' cx='97' cy='140' rx='13' ry='7'/%3E%3Cpath d='M123 132l10-28v29z'/%3E%3Cpath fill='%23808686' d='M207.6 155.6l-9 9.3-36.6-17.3 14-.4z'/%3E%3Cpath fill='%233b3032' d='M62.6 97.4l10-24.5 25.6-23.5-4.3 18.3z'/%3E%3Cellipse fill='%23a52d22' cx='40' cy='40' rx='11' ry='4'/%3E%3Cpath fill='%23b09373' d='M67 135l6 29 5-8z'/%3E%3Cpath fill='white' d='M43.1 84l-8.5-2.7L38.9 68l8.5 2.7z'/%3E%3Cpath fill='%2336271c' d='M123.2 56.4l-5.9-4.6 1.3 16.4 15.5 61.4z'/%3E%3Cpath fill='%2328120c' d='M69 148l-1 20-14 5z'/%3E%3C/g%3E%3C/svg%3E");
}

#content-wrapper.page-index > picture > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (min-width: 850px) {
  #content-wrapper.page-index {
    max-width: 40em;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  #content-wrapper.page-index > picture {
    flex: 1 0 auto;
    margin: 0 1.5rem 0 0;
  }

  #content-wrapper.page-index > main {
    flex: 1 0;
  }
}

@media only screen and (max-width: 700px) {
  :root {
    font-size: 20px;
    line-height: 1.3;
    word-spacing: -0.15ch;
    --responsive-padding: 1.1rem;
  }

  h1 {
    font-size: 1.75em;
  }
}

@media only screen and (max-width: 370px) {
  :root {
    --responsive-padding: 0.625rem;
  }
}

@media print {
  :root {
    font-size: 11pt;
    line-height: 1.1;
  }

  * {
    color: black !important;
  }

  body {
    background: none;
  }

  #content-wrapper {
    max-width: none;
  }

  h1,
  h2 {
    margin-top: 1em;
  }

  h3 {
    margin-top: 1.5em;
  }
}
