@font-face {
  font-family: 'Iosevka Julsh';
  src: url('./iosevka-julsh-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka Julsh';
  src: url('./iosevka-julsh-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka Julsh';
  src: url('./iosevka-julsh-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka Julsh';
  src: url('./iosevka-julsh-bolditalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

:root {
  --pink: hsl(0, 82%, 85%);
  --yellow: hsl(37, 80%, 75%);
  --orange: hsl(26, 80%, 71%);
  --blue: hsl(209, 36%, 70%);
  --lightBlue: hsl(179, 40%, 70%);
  --translucentLightBlue: hsla(179, 40%, 70%, 0.6);
  --green: hsl(152, 25%, 53%);
  --translucentGreen: hsla(153, 36%, 59%, 0.6);

  --gblue: hsl(216, 64%, 68%);
  --gred: hsl(5, 63%, 70%);
  --gyellow: hsl(45, 77%, 64%);
  --ggreen: hsl(138, 60%, 60%);

  --responsive-padding: 2.3rem;

  background: hsl(217, 36%, 10%);
  color: var(--green);
  font-family: Iosevka Julsh, monospace;
  font-size: 26px;
  word-spacing: -0.2ch;
  line-height: 1.4;
}

body,
html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#content-wrapper {
  padding: var(--responsive-padding);
  max-width: 30em;
}

h1 {
  font-size: 2em;
  margin: 0.2em 0 0.67em 0;
}

h1,
h1 a {
  color: var(--pink);
}

h2 {
  margin: 1.75em 0 0.75em 0;
}

h2,
h2 a {
  color: var(--yellow);
}

h3 {
  font-size: 1rem;
  margin: 2.5em 0 1em 0;
}

h3,
h3 a {
  color: var(--orange);
}

h4,
h4 a {
  font-size: 1rem;
  color: var(--blue);
}

h1,
h2,
h3 {
  word-spacing: -0.25ch;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h2 + h3 {
  margin-top: 0;
}

a {
  text-decoration: underline;
  color: var(--green);
}

a:hover,
a:active {
  text-shadow: 0 0 7px var(--green);
}

i,
em {
  color: var(--lightBlue);
  font-style: normal;
}

b,
strong {
  color: var(--blue);
  font-weight: normal;
}

strong em,
em strong,
b i,
i b {
  color: var(--orange);
}

@media only screen and (max-width: 700px) {
  :root {
    font-size: 20px;
    line-height: 1.3;
    word-spacing: -0.15ch;
    --responsive-padding: 1.1rem;
  }

  h1 {
    font-size: 1.75em;
  }
}

@media only screen and (max-width: 370px) {
  :root {
    --responsive-padding: 0.625rem;
  }
}

@media print {
  :root {
    font-size: 11pt;
    line-height: 1.1;
  }

  * {
    color: black !important;
  }

  body {
    background: none;
  }

  #content-wrapper {
    max-width: none;
  }

  h1,
  h2 {
    margin-top: 1em;
  }

  h3 {
    margin-top: 1.5em;
  }
}
